@import url('https://fonts.googleapis.com/css?family=EB+Garamond:500|Source+Code+Pro:500|Source+Sans+Pro:400,700,400italic,700italic&subset=latin');

:root {
    --vp-font-family-base: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    --vp-font-family-mono: 'Source Code Pro', 'Courier New', Courier, monospace;
  }

.custom-aside-container {
    margin: 24px 0;
}

.custom-aside-container img {
    width: auto;
    height: auto;
    padding: 12px 0;
}

.custom-aside-container .sponsor-header {
    font-family: "EB Garamond", "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.05em;
}

.custom-aside-container .sponsor-subheader {
    margin-top: 12px;
    font-size: var(--vp-custom-block-font-size);
    line-height: 12px;
}

.custom-aside-container .sponsor-link {
    font-size: var(--vp-custom-block-font-size);
    color: var(--vp-c-text-2);
}